{block content}

<div class="editwrapper">

    <h1>Upravit příspěvek</h1>

    <div class="form">{control postForm}</div>

</div>

<p><a n:href="Administration:default">← zpět na správu článků</a></p>

{/block}