{block content}

<div class="signInwrapper">

    <h1 n:block=title>Přihlášení</h1>

    <h5 class="info">Pro přístup do redakčního systému se přihlaste zadáním přihlašovacích údajů do formuláře níže:</h5>

    <div class="form">{control signInForm}</div>
    
</div>

{/block}